<div class="col-sm-8">
  <h1 id="page-title">Sign in</h1>

  <% flash.each do |name, msg| %>
    <%= content_tag :p, msg, class: name %>
  <% end %>


    <div class="form-group">
      <%= form_for :session, url: sessions_path do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <br>
        <%= f.submit 'Sign in', id: 'signin', class: 'btn btn-default', id: 'page-button-one' %>
      <% end %>
    </div>

</div>
