

  <% if @user.errors.any? %>
  <b>Errors:</b>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>


    <div class="form-group">
      <%= form_for @user do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, 'Confirm Password' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <br>
        <%= f.submit "Submit", class: 'btn btn-default', id: 'submit', id: 'page-button-one' %>
    </div>
  <% end %>

