<!DOCTYPE html>
<html>
<head>
  <title>EagleScout</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQsaYsMJhuIED0UVhYlRuHXy1P-Gy-wsE" type="text/javascript"></script>

  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class="home-page">
  <!-- LEFT SIDEBAR -->
  <div class="col-sm-4">
    <h1 id="home-title"> Eagle Scout Project Locator</h1>

    <a href="/"><button class="btn btn-default btn-lg" id="homebutton" type="button">Home</button></a>
    <hr>

    <p>This is the first Eagle Scout Project Locator web application. You can view others projects if they have been uploaded and if you login you can even add your own project.</p>
    <hr>
    <p>Here are some general facts about Eagle Scouts:</p>
    <p>In 2013, 56,841 Scouts earned the Eagle Scout Rank. About 6 percent of all Boy Scouts have earned the Eagle Scout rank. From 1912 to 2013, 2.7 million Boy Scouts have earned the Eagle Scout rank.</p>

    <hr>
    <a href="/about"><button class="btn btn-default btn-lg" id="homebutton" type="button">About</button></a>

    <div>
      <%= render 'common/signout' %>
    </div>

  </div>

  <!-- RIGHT CONTENT -->


<%= yield %>



<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>
</html>
