<!DOCTYPE html>
<html>
<head>
  <title>EagleScout</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQsaYsMJhuIED0UVhYlRuHXy1P-Gy-wsE" type="text/javascript"></script>

  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class="home-page">
  <!-- MAIN NAV -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Eagle Scout Projects</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%= render 'common/signout' %>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container pad">
      <!-- LEFT SIDEBAR -->
      <div class="col-sm-4">
        <p>This is the first Eagle Scout Project Locator web application. You can view others projects if they have been uploaded and if you login you can even add your own project.</p>
        <hr>
        <p>Check out the about page for some interesting facts about Eagle Scouts and why this app was created.</p>

        <hr>
        <a href="/about"><button class="btn btn-default btn-lg" id="homebutton" type="button">About</button></a>

        <div>
          <%= render 'common/signout' %>
        </div>

      </div>

      <!-- RIGHT CONTENT -->


      <%= yield %>

    </div>



<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>
</html>
